@import "tailwindcss";

@theme {
  --color-novena-indigo: #312e81;
  --color-novena-green: #10b981;
  --color-novena-light: #f9fafb;
}
/* Opcional: Estilos base para toda la app */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

input {
  color: black;
}

textarea {
  color: black;
}

select {
  color: black;
}

body {
  background: white;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
